## import stuff

In [1]:
#importing things
import pandas as pd
import numpy as np
import csv
import pylab as pl
import matplotlib.pyplot as plt
import copy
import scipy
from scipy.stats import linregress
from scipy.stats import t
from scipy.stats import sem
from scipy.stats import ttest_ind_from_stats
from mpl_toolkits.mplot3d import Axes3D
from scipy.stats import ttest_ind_from_stats
from collections import OrderedDict
import seaborn as sns

## fetch the data

In [2]:
#h1
h1a = pd.DataFrame(pd.read_csv('9114a_results/9114a_kd_meanbin_err.csv',delimiter=',',names=['variant', 'logKd','A','B','r2','sigma','c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'e1', 'e2', 'e3', 'e4', 'e5', 'e6', 'e7', 'e8', 'e9', 'e10', 'e11', 'e12'],dtype={'variant': str}))
h1b = pd.DataFrame(pd.read_csv('9114b_results/9114b_kd_meanbin_err.csv',delimiter=',',names=['variant', 'logKd','A','B','r2','sigma','c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'e1', 'e2', 'e3', 'e4', 'e5', 'e6', 'e7', 'e8', 'e9', 'e10', 'e11', 'e12'],dtype={'variant': str}))
h1c = pd.DataFrame(pd.read_csv('9114c_results/9114c_kd_meanbin_err.csv',delimiter=',',names=['variant', 'logKd','A','B','r2','sigma','c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'e1', 'e2', 'e3', 'e4', 'e5', 'e6', 'e7', 'e8', 'e9', 'e10', 'e11', 'e12'],dtype={'variant': str}))
#h3
h3d = pd.DataFrame(pd.read_csv('9114d_results/9114d_kd_meanbin_err.csv',delimiter=',',names=['variant', 'logKd','A','B','r2','sigma','c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'e1', 'e2', 'e3', 'e4', 'e5', 'e6', 'e7', 'e8', 'e9', 'e10', 'e11', 'e12'],dtype={'variant': str}))
h3e = pd.DataFrame(pd.read_csv('9114e_results/9114e_kd_meanbin_err.csv',delimiter=',',names=['variant', 'logKd','A','B','r2','sigma','c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'e1', 'e2', 'e3', 'e4', 'e5', 'e6', 'e7', 'e8', 'e9', 'e10', 'e11', 'e12'],dtype={'variant': str}))
h3f = pd.DataFrame(pd.read_csv('9114f_results/9114f_kd_meanbin_err.csv',delimiter=',',names=['variant', 'logKd','A','B','r2','sigma','c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'e1', 'e2', 'e3', 'e4', 'e5', 'e6', 'e7', 'e8', 'e9', 'e10', 'e11', 'e12'],dtype={'variant': str}))
#fluB
fluBg = pd.DataFrame(pd.read_csv('9114g_results/9114g_kd_meanbin_err.csv',delimiter=',',names=['variant', 'logKd','A','B','r2','sigma','c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'e1', 'e2', 'e3', 'e4', 'e5', 'e6', 'e7', 'e8', 'e9', 'e10', 'e11', 'e12'],dtype={'variant': str}))
fluBh = pd.DataFrame(pd.read_csv('9114h_results/9114h_kd_meanbin_err.csv',delimiter=',',names=['variant', 'logKd','A','B','r2','sigma','c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'e1', 'e2', 'e3', 'e4', 'e5', 'e6', 'e7', 'e8', 'e9', 'e10', 'e11', 'e12'],dtype={'variant': str}))
fluBi = pd.DataFrame(pd.read_csv('9114i_results/9114i_kd_meanbin_err.csv',delimiter=',',names=['variant', 'logKd','A','B','r2','sigma','c1', 'c2', 'c3', 'c4', 'c5', 'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'e1', 'e2', 'e3', 'e4', 'e5', 'e6', 'e7', 'e8', 'e9', 'e10', 'e11', 'e12'],dtype={'variant': str}))

## merging unfiltered data

In [3]:
#merge by antigen
#H1
h1_all = pd.DataFrame()
h1_all = pd.merge(h1a, h1b, on='variant',how='outer')
h1_all = pd.merge(h1_all, h1c, on='variant',how='outer')
#H3
h3_all = pd.DataFrame()
h3_all = pd.merge(h3d, h3e, on='variant',how='outer')
h3_all = pd.merge(h3_all, h3f, on='variant',how='outer')
#fluB
fluB_all = pd.DataFrame()
fluB_all = pd.merge(fluBg, fluBh, on='variant',how='outer')
fluB_all = pd.merge(fluB_all, fluBi, on='variant',how='outer')
print(h1_all.shape[0],h3_all.shape[0],fluB_all.shape[0])

#cleanup & calculate mean and SEM
#H1
h1_s = h1_all[['variant','logKd_x','logKd_y','logKd']].copy()
h1_s['mean'] = h1_s.mean(axis=1)
h1_s['sem'] = h1_s.sem(axis=1)
h1_s.rename(columns={"logKd_x": "repa", "logKd_y": "repb", "logKd": "repc","mean": "h1_mean", "sem": "h1_sem"},inplace=True)
#H3
h3_s = h3_all[['variant','logKd_x','logKd_y','logKd']].copy()
h3_s['mean'] = h3_s.mean(axis=1)
h3_s['sem'] = h3_s.sem(axis=1)
h3_s.rename(columns={"logKd_x": "repa", "logKd_y": "repb", "logKd": "repc","mean": "h3_mean", "sem": "h3_sem"},inplace=True)
#FluB
fluB_s = fluB_all[['variant','logKd_x','logKd_y','logKd']].copy()
fluB_s['mean'] = fluB_s.mean(axis=1)
fluB_s['sem'] = fluB_s.sem(axis=1)
fluB_s.rename(columns={"logKd_x": "repa", "logKd_y": "repb", "logKd": "repc","mean": "fluB_mean", "sem": "fluB_sem"},inplace=True)

65536 65536 65536

## Pinning Kd to boundaries, removing poor fits, merging replicates

In [4]:
#replacing things below the boundary with the boundary & then filtering out all poor fits
h1a_filt = h1a.copy()
column_name = "logKd"
new_value = 7
boolean_condition = (h1a_filt.logKd < 7)
h1a_filt.loc[boolean_condition, column_name] = new_value
print(h1a['logKd'].mean(),h1a_filt['logKd'].mean())
h1a_filt_out = h1a_filt.loc[((h1a_filt['logKd'] > 7) & (h1a_filt['sigma'] <= 1) & (h1a_filt['r2'] >= 0.8))|(h1a_filt['logKd'] <= 7)]
h1a_filt_out.shape[0]

9.063480287650005 9.070221621315754

63578

In [5]:
#replacing things below the boundary with the boundary
h1b_filt = h1b.copy()
column_name = "logKd"
new_value = 7
boolean_condition = (h1b_filt.logKd < 7)
h1b_filt.loc[boolean_condition, column_name] = new_value
print(h1b['logKd'].mean(),h1b_filt['logKd'].mean())
h1b_filt_out = h1b_filt.loc[((h1b_filt['logKd'] > 7) & (h1b_filt['sigma'] <= 1) & (h1b_filt['r2'] >= 0.8))|(h1b_filt['logKd'] <= 7)]
h1b_filt_out.shape[0]

9.029026035295875 9.038444948183518

63946

In [6]:
#replacing things below the boundary with the boundary
h1c_filt = h1c.copy()
column_name = "logKd"
new_value = 7
boolean_condition = (h1c_filt.logKd < 7)
h1c_filt.loc[boolean_condition, column_name] = new_value
print(h1c['logKd'].mean(),h1c_filt['logKd'].mean())
h1c_filt_out = h1c_filt.loc[((h1c_filt['logKd'] > 7) & (h1c_filt['sigma'] <= 1) & (h1c_filt['r2'] >= 0.8))|(h1c_filt['logKd'] <= 7)]
h1c_filt_out.shape[0]

8.982057083351927 8.988384846623598

63736

In [7]:
#replacing things below the boundary with the boundary
h3d_filt = h3d.copy()
column_name = "logKd"
new_value = 6
boolean_condition = (h3d_filt.logKd < 6)
h3d_filt.loc[boolean_condition, column_name] = new_value
print(h3d['logKd'].mean(),h3d_filt['logKd'].mean())
h3d_filt_out = h3d_filt.loc[((h3d_filt['logKd'] > 6) & (h3d_filt['sigma'] <= 1) & (h3d_filt['r2'] >= 0.8))|(h3d_filt['logKd'] <= 6)]
h3d_filt_out.shape[0]

5.237339055023607 6.108819392517725

65431

In [8]:
#replacing things below the boundary with the boundary
h3e_filt = h3e.copy()
column_name = "logKd"
new_value = 6
boolean_condition = (h3e_filt.logKd < 6)
h3e_filt.loc[boolean_condition, column_name] = new_value
print(h3e['logKd'].mean(),h3e_filt['logKd'].mean())
h3e_filt_out = h3e_filt.loc[((h3e_filt['logKd'] > 6) & (h3e_filt['sigma'] <= 1) & (h3e_filt['r2'] >= 0.8))|(h3e_filt['logKd'] <= 6)]
h3e_filt_out.shape[0]

5.238421987230158 6.111265302378545

65382

In [9]:
#replacing things below the boundary with the boundary
h3f_filt = h3f.copy()
column_name = "logKd"
new_value = 6
boolean_condition = (h3f_filt.logKd < 6)
h3f_filt.loc[boolean_condition, column_name] = new_value
print(h3f['logKd'].mean(),h3f_filt['logKd'].mean())
h3f_filt_out = h3f_filt.loc[((h3f_filt['logKd'] > 6) & (h3f_filt['sigma'] <= 1) & (h3f_filt['r2'] >= 0.8))|(h3f_filt['logKd'] <= 6)]
h3f_filt_out.shape[0]

5.224055388399613 6.097511254598056

65240

In [10]:
#replacing things below the boundary with the boundary
fluBg_filt = fluBg.copy()
column_name = "logKd"
new_value = 6
boolean_condition = (fluBg_filt.logKd < 6)
fluBg_filt.loc[boolean_condition, column_name] = new_value
print(fluBg['logKd'].mean(),fluBg_filt['logKd'].mean())
fluBg_filt_out = fluBg_filt.loc[((fluBg_filt['logKd'] > 6) & (fluBg_filt['sigma'] <= 1) & (fluBg_filt['r2'] >= 0.8))|(fluBg_filt['logKd'] <= 6)]
fluBg_filt_out.shape[0]

5.010565976923504 6.003218655946675

65497

In [11]:
#replacing things below the boundary with the boundary
fluBh_filt = fluBh.copy()
column_name = "logKd"
new_value = 6
boolean_condition = (fluBh_filt.logKd < 6)
fluBh_filt.loc[boolean_condition, column_name] = new_value
print(fluBh['logKd'].mean(),fluBh_filt['logKd'].mean())
fluBh_filt_out = fluBh_filt.loc[((fluBh_filt['logKd'] > 6) & (fluBh_filt['sigma'] <= 1) & (fluBh_filt['r2'] >= 0.8))|(fluBh_filt['logKd'] <= 6)]
fluBh_filt_out.shape[0]

5.007756694802731 6.002627058447594

65495

In [12]:
#replacing things below the boundary with the boundary
fluBi_filt = fluBi.copy()
column_name = "logKd"
new_value = 6
boolean_condition = (fluBi_filt.logKd < 6)
fluBi_filt.loc[boolean_condition, column_name] = new_value
print(fluBi['logKd'].mean(),fluBi_filt['logKd'].mean())
fluBi_filt_out = fluBi_filt.loc[((fluBi_filt['logKd'] > 6) & (fluBi_filt['sigma'] <= 1) & (fluBi_filt['r2'] >= 0.8))|(fluBi_filt['logKd'] <= 6)]
fluBi_filt_out.shape[0]

5.008835085228026 6.003350313858716

65454

In [13]:
#merging
h1_filt_merg = pd.DataFrame()
h1_filt_merg = pd.merge(h1a_filt_out, h1b_filt_out, on='variant',how='outer')
h1_filt_merg = pd.merge(h1_filt_merg, h1c_filt_out, on='variant',how='outer')
h1_filt_merg_sm = h1_filt_merg[['variant','logKd_x','logKd_y','logKd']].copy()
h1_filt_merg_sm['mean'] = h1_filt_merg_sm.mean(axis=1)
h1_filt_merg_sm['sem'] = h1_filt_merg_sm.sem(axis=1)
h1_filt_merg_sm.rename(columns={"logKd_x": "repa", "logKd_y": "repb", "logKd": "repc","mean": "h1_mean", "sem": "h1_sem"},inplace=True)
h1_filt_merg_sm

                variant      repa      repb      repc   h1_mean    h1_sem
0      1001110010000101  9.502127  9.499467  9.452164  9.484586  0.011476
1      0001111110011011  9.526711  9.446817  9.319445  9.430991  0.042677
2      1111110010011111  9.522475  9.556415  9.412129  9.497006  0.030798
3      1011111110101110  9.520731  9.557455  9.420888  9.499691  0.028852
4      1111101010000111  9.346955  9.398311  9.396946  9.380737  0.011947
...                 ...       ...       ...       ...       ...       ...
65089  0000111000011100       NaN       NaN  7.907556  7.907556  0.000000
65090  0000110000111000       NaN       NaN  8.326384  8.326384  0.000000
65091  0000100110110100       NaN       NaN  9.264833  9.264833  0.000000
65092  0000111000010000       NaN       NaN  8.015971  8.015971  0.000000
65093  0010000100100100       NaN       NaN  8.848686  8.848686  0.000000

[65094 rows x 6 columns]

In [14]:
#merging
h3_filt_merg = pd.DataFrame()
h3_filt_merg = pd.merge(h3d_filt_out, h3e_filt_out, on='variant',how='outer')
h3_filt_merg = pd.merge(h3_filt_merg, h3f_filt_out, on='variant',how='outer')
h3_filt_merg_sm = h3_filt_merg[['variant','logKd_x','logKd_y','logKd']].copy()
h3_filt_merg_sm['mean'] = h3_filt_merg_sm.mean(axis=1)
h3_filt_merg_sm['sem'] = h3_filt_merg_sm.sem(axis=1)
h3_filt_merg_sm.rename(columns={"logKd_x": "repa", "logKd_y": "repb", "logKd": "repc","mean": "h3_mean", "sem": "h3_sem"},inplace=True)
h3_filt_merg_sm

                variant      repa      repb      repc   h3_mean    h3_sem
0      0111101011111001  7.522600  7.344009  7.524205  7.463604  0.042285
1      1111010011110011  7.943997  7.857012  7.876908  7.892639  0.018606
2      1111000111101001  7.241789  7.175886  7.287528  7.235068  0.022912
3      1111100111100100  7.494355  7.506926  7.372532  7.457938  0.030304
4      0111010111011011  7.583118  7.562860  7.644614  7.596864  0.017381
...                 ...       ...       ...       ...       ...       ...
65530  0001010011010110       NaN       NaN  6.000000  6.000000  0.000000
65531  0011100011010110       NaN       NaN  6.000000  6.000000  0.000000
65532  0011100111001100       NaN       NaN  6.000000  6.000000  0.000000
65533  0001100111101111       NaN       NaN  6.000000  6.000000  0.000000
65534  0011100111010100       NaN       NaN  6.000000  6.000000  0.000000

[65535 rows x 6 columns]

In [15]:
#merging
fluB_filt_merg = pd.DataFrame()
fluB_filt_merg = pd.merge(fluBg_filt_out, fluBh_filt_out, on='variant',how='outer')
fluB_filt_merg = pd.merge(fluB_filt_merg, fluBi_filt_out, on='variant',how='outer')
fluB_filt_merg_sm = fluB_filt_merg[['variant','logKd_x','logKd_y','logKd']].copy()
fluB_filt_merg_sm['mean'] = fluB_filt_merg_sm.mean(axis=1)
fluB_filt_merg_sm['sem'] = fluB_filt_merg_sm.sem(axis=1)
fluB_filt_merg_sm.rename(columns={"logKd_x": "repa", "logKd_y": "repb", "logKd": "repc","mean": "fluB_mean", "sem": "fluB_sem"},inplace=True)
fluB_filt_merg_sm

                variant  repa  repb      repc  fluB_mean  fluB_sem
0      1100000001000000   6.0   6.0  6.000000   6.000000       0.0
1      1011001001100101   6.0   6.0  6.000000   6.000000       0.0
2      1111000011001100   6.0   6.0  6.000000   6.000000       0.0
3      1100001011110011   6.0   6.0  6.000000   6.000000       0.0
4      1101010010110111   6.0   6.0  6.000000   6.000000       0.0
...                 ...   ...   ...       ...        ...       ...
65529  0010100010110100   NaN   6.0  6.000000   6.000000       0.0
65530  1111111111110100   NaN   NaN  6.464741   6.464741       0.0
65531  1011110011010111   NaN   NaN  7.759927   7.759927       0.0
65532  1011111111111001   NaN   NaN  7.710387   7.710387       0.0
65533  1011111111110101   NaN   NaN  7.063811   7.063811       0.0

[65534 rows x 6 columns]

## functions for annotating dataframe

In [16]:
#define categories based on mutation position
def find_pos_1(variant):
    pos = [mut for mut in variant]
    if pos[0] == "1":
        return 1
    else:
        return 0
def find_pos_2(variant):
    pos = [mut for mut in variant]
    if pos[1] == "1":
        return 1
    else:
        return 0
def find_pos_3(variant):
    pos = [mut for mut in variant]
    if pos[2] == "1":
        return 1
    else:
        return 0
def find_pos_4(variant):
    pos = [mut for mut in variant]
    if pos[3] == "1":
        return 1
    else:
        return 0
def find_pos_5(variant):
    pos = [mut for mut in variant]
    if pos[4] == "1":
        return 1
    else:
        return 0
def find_pos_6(variant):
    pos = [mut for mut in variant]
    if pos[5] == "1":
        return 1
    else:
        return 0
def find_pos_7(variant):
    pos = [mut for mut in variant]
    if pos[6] == "1":
        return 1
    else:
        return 0
def find_pos_8(variant):
    pos = [mut for mut in variant]
    if pos[7] == "1":
        return 1
    else:
        return 0
def find_pos_9(variant):
    pos = [mut for mut in variant]
    if pos[8] == "1":
        return 1
    else:
        return 0
def find_pos_10(variant):
    pos = [mut for mut in variant]
    if pos[9 ] == "1":
        return 1
    else:
        return 0
def find_pos_11(variant):
    pos = [mut for mut in variant]
    if pos[10] == "1":
        return 1
    else:
        return 0
def find_pos_12(variant):
    pos = [mut for mut in variant]
    if pos[11] == "1":
        return 1
    else:
        return 0
def find_pos_13(variant):
    pos = [mut for mut in variant]
    if pos[12] == "1":
        return 1
    else:
        return 0
def find_pos_14(variant):
    pos = [mut for mut in variant]
    if pos[13] == "1":
        return 1
    else:
        return 0
def find_pos_15(variant):
    pos = [mut for mut in variant]
    if pos[14] == "1":
        return 1
    else:
        return 0
def find_pos_16(variant):
    pos = [mut for mut in variant]
    if pos[15] == "1":
        return 1
    else:
        return 0
    
#add a column with the number of mutations and save the file
def sum_digits(digit):
    return sum(int(x) for x in digit if x.isdigit())

## merging antigens: unfiltered, unadjusted data

In [17]:
#merge all antigens
HA_all_unf = pd.DataFrame()
HA_all_unf = pd.merge(h1_s, h3_s, on='variant',how='outer')
HA_all_unf = pd.merge(HA_all_unf, fluB_s, on='variant',how='outer')

In [18]:
#define categories based on mutation position
HA_all_unf['pos1'] = HA_all_unf['variant'].apply(find_pos_1)
HA_all_unf['pos2'] = HA_all_unf['variant'].apply(find_pos_2)
HA_all_unf['pos3'] = HA_all_unf['variant'].apply(find_pos_3)
HA_all_unf['pos4'] = HA_all_unf['variant'].apply(find_pos_4)
HA_all_unf['pos5'] = HA_all_unf['variant'].apply(find_pos_5)
HA_all_unf['pos6'] = HA_all_unf['variant'].apply(find_pos_6)
HA_all_unf['pos7'] = HA_all_unf['variant'].apply(find_pos_7)
HA_all_unf['pos8'] = HA_all_unf['variant'].apply(find_pos_8)
HA_all_unf['pos9'] = HA_all_unf['variant'].apply(find_pos_9)
HA_all_unf['pos10'] = HA_all_unf['variant'].apply(find_pos_10)
HA_all_unf['pos11'] = HA_all_unf['variant'].apply(find_pos_11)
HA_all_unf['pos12'] = HA_all_unf['variant'].apply(find_pos_12)
HA_all_unf['pos13'] = HA_all_unf['variant'].apply(find_pos_13)
HA_all_unf['pos14'] = HA_all_unf['variant'].apply(find_pos_14)
HA_all_unf['pos15'] = HA_all_unf['variant'].apply(find_pos_15)
HA_all_unf['pos16'] = HA_all_unf['variant'].apply(find_pos_16)

#add a column with the number of mutations and save the file
HA_all_unf['som_mut'] = HA_all_unf['variant'].apply(sum_digits)
HA_all_unf.to_csv('kd_processed/20210427_HA_unadj_unfilt_merg.csv', index=False)

## merging antigens: filtered, only adjusted if outside titration boundaries

In [19]:
#merge all antigens
HA_all_fil = pd.DataFrame()
HA_all_fil = pd.merge(h1_filt_merg_sm, h3_filt_merg_sm, on='variant',how='outer')
HA_all_fil = pd.merge(HA_all_fil, fluB_filt_merg_sm, on='variant',how='outer')
HA_all_fil

,variant,repa_x,repb_x,repc_x,h1_mean,h1_sem,repa_y,repb_y,repc_y,h3_mean,h3_sem,repa,repb,repc,fluB_mean,fluB_sem
0,1001110010000101,9.502127,9.499467,9.452164,9.484586,0.011476,6.000000,6.000000,6.000000,6.000000,0.000000,6.0,6.0,6.0,6.0,0.0
1,0001111110011011,9.526711,9.446817,9.319445,9.430991,0.042677,6.000000,6.000000,6.000000,6.000000,0.000000,6.0,6.0,6.0,6.0,0.0
2,1111110010011111,9.522475,9.556415,9.412129,9.497006,0.030798,6.719267,6.789486,6.699885,6.736213,0.019246,6.0,6.0,6.0,6.0,0.0
3,1011111110101110,9.520731,9.557455,9.420888,9.499691,0.028852,6.000000,6.000000,6.000000,6.000000,0.000000,6.0,6.0,6.0,6.0,0.0
4,1111101010000111,9.346955,9.398311,9.396946,9.380737,0.011947,6.000000,6.000000,6.000000,6.000000,0.000000,6.0,6.0,6.0,6.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65531,0000100010110100,NaN,NaN,NaN,NaN,NaN,6.000000,6.000000,NaN,6.000000,0.000000,6.0,6.0,NaN,6.0,0.0
65532,0010100000110110,NaN,NaN,NaN,NaN,NaN,6.000000,6.000000,NaN,6.000000,0.000000,6.0,6.0,6.0,6.0,0.0
65533,0010100010111000,NaN,NaN,NaN,NaN,NaN,6.000000,6.000000,6.000000,6.000000,0.000000,6.0,6.0,NaN,6.0,0.0
65534,0010100110001000,NaN,NaN,NaN,NaN,NaN,6.000000,6.000000,6.000000,6.000000,0.000000,6.0,6.0,NaN,6.0,0.0
65535,0010100111000110,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,6.000000,6.000000,0.000000,6.0,6.0,6.0,6.0,0.0

In [20]:
#define categories based on mutation position
HA_all_fil['pos1'] = HA_all_fil['variant'].apply(find_pos_1)
HA_all_fil['pos2'] = HA_all_fil['variant'].apply(find_pos_2)
HA_all_fil['pos3'] = HA_all_fil['variant'].apply(find_pos_3)
HA_all_fil['pos4'] = HA_all_fil['variant'].apply(find_pos_4)
HA_all_fil['pos5'] = HA_all_fil['variant'].apply(find_pos_5)
HA_all_fil['pos6'] = HA_all_fil['variant'].apply(find_pos_6)
HA_all_fil['pos7'] = HA_all_fil['variant'].apply(find_pos_7)
HA_all_fil['pos8'] = HA_all_fil['variant'].apply(find_pos_8)
HA_all_fil['pos9'] = HA_all_fil['variant'].apply(find_pos_9)
HA_all_fil['pos10'] = HA_all_fil['variant'].apply(find_pos_10)
HA_all_fil['pos11'] = HA_all_fil['variant'].apply(find_pos_11)
HA_all_fil['pos12'] = HA_all_fil['variant'].apply(find_pos_12)
HA_all_fil['pos13'] = HA_all_fil['variant'].apply(find_pos_13)
HA_all_fil['pos14'] = HA_all_fil['variant'].apply(find_pos_14)
HA_all_fil['pos15'] = HA_all_fil['variant'].apply(find_pos_15)
HA_all_fil['pos16'] = HA_all_fil['variant'].apply(find_pos_16)

#add a column with the number of mutations and save the file
HA_all_fil['som_mut'] = HA_all_fil['variant'].apply(sum_digits)
HA_all_fil.to_csv('kd_processed/20210427_HA_unadj_fil_merg.csv', index=False)